$parent-hover: ":global(.interactive-3d-container:hover)";
$parent-active: ":global(.interactive-3d-container:active)";

// --------== Button 1 ==--------
.btn1 {
    cursor: pointer;

    border: 4px solid #000;
    border-radius: 10px;
    background-color: #ec8e8e;
    opacity: .5;

    transition: all 0.1s ease-in-out;

    &:hover,
    #{$parent-hover} & {
        color: #fff;
        border: 1px solid #000;
    }

    &:active,
    #{$parent-active} & {
        background-color: #bd6b6b;
        border: 2px solid #000;
    }
}


// --------== Button 2 ==--------
.btn2 {
    cursor: pointer;

    text-decoration: none;
    font-size: 16px;
    color: #000;

    padding: 12px 19px;
    margin: 5px;
    justify-self: start;
    align-content: center;

    transition: all 0.3s ease;

    border-radius: 10px;
    background-color: #8eec9e;

    &:hover h2,
    #{$parent-hover} & h2 {
        animation: wobble 0.8s;
    }

    &:active,
    #{$parent-active} & {
        background-color: #70c07d;
    }
}

@keyframes wobble {

    0%,
    100% {
        transform: translate(0%);
    }

    15% {
        transform: translate(-15%);
    }

    30% {
        transform: translate(12%);
    }

    45% {
        transform: translate(-9%);
    }

    60% {
        transform: translate(6%);
    }

    75% {
        transform: translate(-3%);
    }
}


// --------== Button 3 ==--------
$btn3: #8583e2;
$border3: #3a3866;

.btn3 {
    position: relative;
    border-color: transparent;

    cursor: pointer;

    text-decoration: none;
    color: #000;

    justify-self: start;
    align-content: center;

    z-index: 1;

    &::before,
    &::after {
        height: 100%;
        position: absolute;
        top: 0;
        transition: all 0.3s;
        content: "";
    }

    &::before {
        width: 100%;
        left: 0;
        background-color: $btn3;
        z-index: -1;
    }

    &::after {
        width: 0;
        left: 50%;
        border: 1px solid transparent;
        transform: translate(-50%, 0);
        z-index: 1;
    }

    &:hover,
    #{$parent-hover} & {
        color: $btn3;

        &::before {
            transform: scale(0, 1);
        }

        &::after {
            width: 100%;
            border-color: $btn3;
            transition-delay: 0.2s;
        }
    }

    &:active,
    #{$parent-active} & {
        color: $border3;
        border-color: $border3;
    }
}

// --------== Button 4 ==--------
.btn4 {
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;

    outline: none;
    border: none;

    justify-self: start;
    align-content: center;
}

.btn4:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.btn4:active,
#{$parent-active} .btn4 {
    color: #000
}

.btn4:active:after,
#{$parent-active} .btn4:after {
    background: transparent;
}

.btn4:hover:before,
#{$parent-hover} .btn4:before {
    opacity: 1;
}

.btn4:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

// --------== Button 5 ==--------
$blue: #3498db;

.btn5 {
    cursor: pointer;
    text-decoration: none;
    color: #fff;

    justify-self: start;
    align-content: center;

    box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
    background-color: transparent;

    transition: all 0.15s ease-in-out !important;

    &:hover,
    #{$parent-hover} & {
        box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
        color: #000;
    }

    &:active,
    #{$parent-active} & {
        color: $blue;
        box-shadow: 0 0 10px 0 $blue inset, 0 0 5px 2px $blue;
    }
}

// --------== Button 6 ==--------
.btn6 {
    cursor: pointer;
    position: relative;

    text-decoration: none;
    color: #000;
    background: none;

    justify-self: start;
    align-content: center;

    transition: all 0.3s ease;

    h2 {
        position: relative;
        z-index: 10;
        color: #000;
        margin: 0;
        transition: color 0.3s ease;
    }

    &:after,
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 2px solid #000;
        transition: transform .2s;
    }

    &:after {
        background-color: #e21111;
        opacity: .5;
        transform: translate(5px, 5px);
    }

    &:before {
        background-color: #e7c70e;
        opacity: .5;
        transform: translate(-5px, -5px);
    }

    &:hover,
    #{$parent-hover} & {

        &:after,
        &:before {
            transform: translate(0);
        }
    }

    &:active,
    #{$parent-active} & {
        background-color: #e28e11;
    }
}