// --------== Spinning 3D Cube ==--------
.drag-area-container {
    width: 80vw;
    max-width: 1200px;
    height: 500px;

    background-color: #050505;
    border: 1px dashed rgba(255, 255, 255, 0.25);
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    margin: 0 auto;
}

.cube-container {
    perspective: 800px;
    width: 200px;
    height: 200px;
    cursor: grab;
}

.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0px;
    user-select: none;

    transition: opacity 0.3s ease;
}

.front {
    transform: rotateY(0deg) translateZ(100px);
}

.back {
    transform: rotateY(180deg) translateZ(100px);
}

.left {
    transform: rotateY(-90deg) translateZ(100px);
}

.right {
    transform: rotateY(90deg) translateZ(100px);
}

.top {
    transform: rotateX(90deg) translateZ(100px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(100px);
}

.egg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    // Make sure egg fits in the new box
    width: 100%;
    height: 100%;
}

.easter-egg {
    height: 300px; // Adjusted to fit inside the 500px container
    object-fit: contain;
}