$container: 65px;
$handle: 45px;

.toggle-container {
    cursor: pointer;

    display: flex;
    width: 150px;
    height: $container;

    background-color: #b32b5f;
    border-radius: 50px;
    border: none;
    outline: none;

    margin-top: 10px;
    padding: 10px;
}

.toggle-handle {
    width: $handle;
    height: $handle;

    background-color: #ff83b3;
    border-radius: 50px;
}