$background: #0a0a0a;

.home-container {
    justify-items: center;

    margin-top: -56px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(25px, auto));

    background-color: $background;
    min-height: 100vh;

    &__wrap {
        justify-items: center;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto, minmax(5px, auto));

        &__grid {
            display: flex;
            flex-direction: row;
            gap: 25px;
        }
    }
}