.home-container {
    justify-items: center;

    margin: 0px 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, minmax(25px, auto));
    grid-row-gap: 20px;

    &__wrap {
        justify-items: center;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto, minmax(25px, auto));
        margin-top: 50px;

        &__title {
            grid-row: 1/2;
            font-size: 30px;
            margin-bottom: 0px;
        }

        &__btns {
            grid-row: 2/3;
            display: flex;
            flex-direction: row;
            gap: 25px;
        }
    }
}