.container {
    margin: 0px 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, minmax(25px, auto));
    grid-row-gap: 20px;

    &__wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, minmax(25px, auto));

        &__title {
            grid-row: 1/2;
            font-size: 30px;
            margin-bottom: 0px;
        }
    }
}

.dragContainer {
    height: 250px;

    &__dragBox {
        grid-row: 2/3;

        width: 100px;
        height: 100px;
        border-radius: 10px;
    }
}