$background: #0a0a0a;
$shadow: #fff;

h1 {
    font-size: 38px;
    font-weight: 600;
    color: #fff;
}

h2 {
    font-size: 150px;
    font-weight: 600;
}

h3 {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}

p {
    font-size: 18px;
    font-weight: 200;
}

// --------== HEADER ==--------
.navbar {
    grid-column: 1/13;
    grid-row: 1/2;
    background-color: $background;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 10px;

    padding: 10px 10px 15px 10px;

    &__nav-buttons {
        grid-column: 9/13;
        grid-row: 1/2;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;

        justify-self: end;
        align-content: center;
    }

    p {
        font-size: 21px;
    }
}


// --------== Text Animation ==--------
.animated-title {
    margin-top: 80px;
}

.scroll-container {
    color: #fff;
    text-align: center;

    p {
        margin-bottom: 5px;
    }
}

// --------== Range Slider ==--------
.range-slider {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 5px;

    &__label {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
    }

    &__value {
        font-family: monospace;
        color: #1784c4;
        font-weight: 500;
    }

    &__input {
        cursor: pointer;
        accent-color: #1784c4;
        width: 300px;

        margin-top: 5px;
    }

    &__info {
        position: absolute;
        top: -40px;

        background-color: #e4e4e4;
        color: #000;

        padding: 8px 12px;
        border: 1px solid #000;
        border-radius: 10px;

        font-weight: 600;
        font-size: 18px;
        white-space: nowrap;

        opacity: 0;
        z-index: -1;
        pointer-events: none;

        transition:
            opacity 0.2s ease-in-out,
            translate 0.2s ease-in-out;
    }

    &:hover &__info {
        opacity: 1;
        z-index: 10;
        translate: 0px -10px;

        transition:
            opacity 0.2s ease-in-out 3s,
            translate 0.2s ease-in-out 3s;
    }
}

// --------== Toggle label ==--------
.toggle-label {
    color: #fff;
    font-weight: 600;
}


// --------== BUTTONS ==--------
.title {
    font-size: 32px;
    font-weight: 600;
    text-align: center;

    filter: drop-shadow(0px 0px);
}

// --------== Button 0: Nav ==--------
.btn0 {
    cursor: pointer;

    text-decoration: none;
    color: #fff;
    background: #1b1b1b;
    position: relative;
    z-index: 0;

    outline: none;
    border: none;
    border-radius: 10px;

    padding: 5px 0px;
    margin: 0;
}

.btn0:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn0:active {
    color: #000
}

.btn0:active:after {
    background: transparent;
}

.btn0:hover:before {
    opacity: 1;
}

.btn0:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1b1b1b;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

// --------== Button 1 ==--------
.btn1 {
    cursor: pointer;

    text-decoration: none;
    color: #000;

    padding: 12px 19px;
    margin: 5px;
    justify-self: start;
    align-content: center;

    border: 1px solid $shadow;
    border-radius: 10px;
    background-color: #ec8e8e;
    filter: drop-shadow(4px 4px $shadow);

    transition: all 0.1s ease-in-out;

    &:hover {
        color: #fff;

        translate: 4px 4px;

        filter: drop-shadow(0px 0px $shadow);
    }

    &:active {
        translate: 6px 6px;

        padding-right: 17px;
        padding-bottom: 10px;
        margin-right: 7px;
        margin-bottom: 7px;

        background-color: #bd6b6b;
        box-shadow: 2px 2px 0px $shadow inset;
    }
}


// --------== Button 2 ==--------
.btn2 {
    cursor: pointer;

    text-decoration: none;
    font-size: 16px;
    color: #000;

    padding: 12px 19px;
    margin: 5px;
    justify-self: start;
    align-content: center;

    transition: all 0.3s ease;

    border-radius: 10px;
    border: 1px solid #8eec9e;
    background-color: #8eec9e;

    &:hover {
        animation: wobble 0.8s;
        border: 1px solid #3f6d47;
    }

    &:active {
        background-color: #70c07d;
    }
}

@keyframes wobble {

    0%,
    100% {
        transform: translateX(0%);
    }

    15% {
        transform: translateX(-5%);
    }

    30% {
        transform: translateX(4%);
    }

    45% {
        transform: translateX(-3%);
    }

    60% {
        transform: translateX(2%);
    }

    75% {
        transform: translateX(-1%);
    }
}


// --------== Button 3 ==--------
$btn-color: #8583e2;
$border3: #4d4a86;

.btn3 {
    position: relative;
    border-color: transparent;

    cursor: pointer;

    text-decoration: none;
    color: #000;

    padding: 12px 19px;
    margin: 5px;
    justify-self: start;
    align-content: center;

    border-radius: 10px;
    z-index: 1;

    &::before,
    &::after {
        height: 100%;
        position: absolute;
        top: 0;
        transition: all 0.3s;
        content: "";
    }

    &::before {
        width: 100%;
        left: 0;
        border-radius: 10px;
        background-color: $btn-color;
        z-index: -1;
    }

    &::after {
        width: 0;
        left: 50%;
        border: 1px solid transparent;
        border-radius: 10px;
        transform: translate(-50%, 0);
        z-index: 1;
    }

    &:hover {
        color: $btn-color;

        &::before {
            transform: scale(0, 1);
        }

        &::after {
            width: 100%;
            border-color: $btn-color;
            transition-delay: 0.2s;
        }
    }

    &:active {
        color: $border3;
        border-color: $border3;
        transition: none;
    }
}

// --------== Button 4 ==--------
.btn4 {
    color: #fff;
    background: #1b1b1b;
    cursor: pointer;
    position: relative;
    z-index: 0;

    outline: none;
    border: none;
    border-radius: 10px;

    padding: 12px 19px;
    margin: 5px;
    justify-self: start;
    align-content: center;
}

.btn4:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn4:active {
    color: #000
}

.btn4:active:after {
    background: transparent;
}

.btn4:hover:before {
    opacity: 1;
}

.btn4:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1b1b1b;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

// --------== Button 5 ==--------
$blue: #3498db;

.btn5 {
    cursor: pointer;
    text-decoration: none;
    color: #000;

    padding: 12px 19px 10px 19px;
    margin: 5px;
    justify-self: start;
    align-content: center;

    border-radius: 10px;
    box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;

    transition: all 0.15s ease-in-out;

    &:hover {
        box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
        color: #fff;
    }

    &:active {
        color: $blue;
        box-shadow: 0 0 10px 0 $blue inset, 0 0 5px 2px $blue;
    }
}

// --------== Button 6 ==--------
.btn6 {
    cursor: pointer;
    position: relative;

    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background: none;

    padding: 12px 19px;
    margin: 5px;
    justify-self: start;
    align-content: center;

    transition: all 0.3s ease;
    border: none;
    border-radius: 10px;

    .title {
        position: relative;
        z-index: 10;
        margin: 0;
        transition: color 0.3s ease;
    }

    &:after,
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 2px solid #000;
        transition: transform .2s;
        border-radius: 10px;
    }

    &:after {
        background-color: #e21111;
        opacity: .5;
        transform: translate(3px, 3px);
    }

    &:before {
        background-color: #e7c70e;
        opacity: .5;
        transform: translate(-3px, -3px);
    }

    &:hover {
        color: #d1d1d1;

        &:after,
        &:before {
            transform: translate(0);
        }
    }

    &:active {
        opacity: 1;
        background-color: #e28e11;
        color: #000;
    }
}